html, body {
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.list-complete-item {
  transition: all 0.75s ease;
  display: inline-block;
  margin-right: 10px;
}

.list-complete-enter, .list-complete-leave-to  {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}
